@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  background-color: #048B9A;
}

/* header bar style */

nav {
  display: flex;
  width: 100%;
  background-color: #333;
  flex-direction: row;
}

.listes {
  width: 100%;
}

nav div ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #333;
}

nav div ul li{
  background-color: #333;
  float: left;
  text-align: center;
  position: relative;
  width: fit-content;
}

nav div ul.rightElements li{
  float: right;
}

nav a{
  display: flex;
  text-decoration: none;
  color: white;
  border-bottom: 2px solid transparent;
  padding: 14px 16px;
}

nav a:hover{
  background-color: #111;
}

.sous {
  display: none;
  background-color: #333;
  position: absolute;
  width: 100%;
  z-index: 1000;
  padding: 0;
}
nav > div ul li:hover .sous{
  display: block;
}
.sous li{
  float: none;
  width: 100%;
  text-align: left;
}
.sous a{
  padding: 10px;
  border-bottom: none;
}
.sous a:hover{
  border-bottom: none;
  background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
  margin-left: 10px;
}

/* sous-header */

.sous-header {
  background-color: #333;
}

.sous-header ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    border-top: solid 1px white;
    margin: 0;
    padding: 0;
}

.sous-header li {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.sous-header a {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.sous-header a:hover {
  background-color: black;
}

.sous-header a::selection {
    background-color: black;
}

.sous-header li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: auto;
    float: left;
}

.item-icon {
    padding-right: .5rem;
}

.info-profile {
    margin-top: 100px;
    display: block;
    /*flex-direction: column;*/
    color: white;
    text-align: center;
}

.info-profile span {
    margin: 5px;
}

button {
    margin-top: 20px;
    background: #333;
    color: white;
    padding: 10px;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;
}

button:hover {
    background-color: #111;
    cursor: pointer;
}

 input, select {
    margin: 5px;
    padding: 10px;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    outline: none;
    border: 0;
    border-radius: 5px;
  }
  
  .info-profile input::placeholder {
    color: #333;
    opacity: 1;
  }
  
  .info-profile input:hover::placeholder {
    opacity: 0.6;
  }
  
  .info-profile input:focus::placeholder {
    opacity: 0.6;
  }

  .horaires input{
    margin-left: -5px;
    margin-right: -5px;
  }

 label.labelDays {
    padding: 8px;
    font-size: 1rem;
    border-radius: 5px;
    background-color:rgb(193, 233, 229);
    color: #333;
  }
