<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>Connexion</title>
    </head>
    <body>
        <!-- zone de connexion -->
        <h1>Connexion</h1>
        
        <br/>
        <label for="email">E-Mail </label>
        <input type="Email" placeholder="E-mail" id="email" required/>

        <br/>
        <label for="password">Mot de passe </label>
        <input type="Password" placeholder="Password" id="password" required/>

        <br/>
        <div>
            <input type="checkbox" id="pro" name="pro">
            <label for="pro">Vous êtes un professionnel</label>
        </div>

        <br/><button>
            Se connecter !
        </button>
        
        <br/><button>
            S'inscrire !
        </button>
    </body>
</html> 