<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,600,0,0" />
    <link rel="stylesheet" href="/css/stylePage.css" />
    <title>DevrepDocto</title>
</head>

<body>
    <div class="headerbar">
        <ul>
            <li>
                <a href="/home">
                    <span class="item-icon material-symbols-rounded"> home </span>
                    <span>Accueil</span>
                </a>
            </li>
            <li>
                <a href="/categories">
                    <span class="item-icon material-symbols-rounded">
                        medical_services
                    </span>
                    <span>Catégories</span>
                </a>
            </li>
            <li>
                <div th:if="${!etat?.connected || !etat?.isPro}">
                    <a style="float: right" href="/signup/pro">
                        <span class="item-icon material-symbols-rounded"> verified </span>
                        <span>Vous êtes un professionnel?</span>
                    </a>
                </div>
            </li>
            <li>
                <div th:switch="${etat?.connected}">
                    <span th:case="${false}">
                    </span>
                    <div th:case="${true}">
                        <a style="float: right" href="/logout-all">
                            <span class="item-icon material-symbols-rounded"> logout </span>
                            <span>Vous deconnecter</span>
                        </a>
                        <a style="float: right" href="/profile">
                            <span class="item-icon material-symbols-rounded">
                                account_circle
                            </span>
                            <span>Votre profil</span>
                        </a>
                    </div>
            </li>
            <li>
                <span th:if="${etat?.connected && etat?.isPro}" th:inline="text">
                    <p style="float: right; color: white; font-weight: bold;">[[${'Bonjour Dr.'+etat?.who?.nom}]]</p>
                </span>
                <span th:if="${etat?.connected && !etat?.isPro}" th:inline="text">
                    <p style="float: right; color: white; font-weight: bold;">[[${'Bonjour '+etat?.who?.nom}]]</p>
                </span>
                <div th:if="${!etat?.connected}">
                    <a style="float: right" href="/login">
                        <span class="item-icon material-symbols-rounded"> login </span>
                        <span>Vous connecter</span>
                    </a>
                </div>
    </div>
    </li>
    </ul>
    </div>
    <div class="searchCont">
        <div class="titleSearchCont">
            <h1>Trouvez un rendez-vous avec un professionnel !</h1>
        </div>
        <div class="formSearchCont">
            <form class="search-card-form" method="post" accept-charset="utf-8">
                <div class="form-item">
                    <span class="item-icon material-symbols-rounded">search</span>
                    <input type="text" placeholder="Professionnel, Spécialité" id="searchForm" autofocus required />
                    <span class="item-icon material-symbols-rounded">where_to_vote</span>
                    <input type="text" placeholder="Où ?" id="searchForm" autofocus required />
                </div>
            </form>
        </div>
    </div>
</body>

</html>