<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>Inscription patient</title>
    </head>
    <body>
        <!-- zone de connexion -->
        <h1>Inscription</h1>
        
        <br/><input type="Nom" placeholder="Nom" required/>

        <br/><input type="Prenom" placeholder="Prenom" required/>

        <br/><input type="Email" placeholder="E-mail" required/>

        <br/><input type="Password" placeholder="Password" required/>
        
        <br/><button>
            S'inscrire !
        </button>

        <br/><button>
            S'inscrire en tant que professionnel !
        </button>

        <br/><button>
            Déjà inscrit ? Se connecter !
        </button>
    </body>
</html> 