<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,600,0,0" />
        <link rel="stylesheet" href="/css/styleLog.css"/>
        <title>Inscription professionel</title>
    </head>
    <body>
        <div>
            <a class="homelogo" href="/home/search/all">
                DevrepDocto
            </a>
        </div>
        <!-- zone de connexion -->
        <div class="login-card-container">
            <div class="login-card">
                <div class="login-card-header">
                    <h1>Inscription professionel</h1>
                </div>
                <div class="alert" th:if="${etat.badEmail}" th:inline="text"><ul><li>Votre email est déja enregistré.</li><li>Veuillez saisir une autre si vous voulez vous inscrire.</li></ul></div>
                <form action="/signup/pro" class="login-card-form" method="post" accept-charset="utf-8">
                    <div class="form-item">
                        <span class="form-item-icon material-symbols-rounded">person</span>
                        <input name="Nom" type="text" placeholder="Nom" id="nomForm"
                        required>
                    </div>
                    <div class="form-item">
                        <span class="form-item-icon material-symbols-rounded">group</span>
                        <input name="Prenom" type="text" placeholder="Prenom" id="prenomForm"
                        required>
                    </div>
                    <div class="form-item">
                        <span class="form-item-icon material-symbols-rounded">mail</span>
                        <input name="Email" type="email" placeholder="Email" id="emailForm" 
                        autofocus required>
                    </div>
                    <div class="form-item">
                        <span class="form-item-icon material-symbols-rounded">lock</span>
                        <input name="Password" type="password" placeholder="Password" id="passwordForm"
                        required>
                    </div>
                    <div class="form-item">
                        <span id="cat" class="form-item-icon material-symbols-rounded">medical_services</span>
                        <select name="domaine" id="domain-select">
                            <option value="">--Profession--</option>
                            <option value="Generaliste">Généraliste</option>
                            <option value="Ophtalmologue">Ophtalmologue</option>
                            <option value="Pediatre">Pédiatre</option>
                            <option value="Addictologue">Addictologue</option>
                            <option value="Allergologue">Allergologue</option>
                            <option value="Dermatologue">Dermatologue</option>
                            <option value="Diabetologue">Diabetologue</option>
                            <option value="Gynecologue">Gynecologue</option>
                            <option value="Hematologue">Hematologue</option>
                        </select>
                    </div>
                    <button type="submit">S'inscrire en tant que professionnel !</button>
                </form>
                <div class="login-card-footer">
                    Déjà inscrit ? <a href="/login">Se connecter !</a>
                </div>
            </div>
        </div>
    </body>
</html> 