<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,600,0,0" />
    <link rel="stylesheet" href="/css/styleProfile.css" />
    <title>DevrepDocto</title>
</head>

<body>
    <nav>
        <div class="listes">
            <ul class="leftElements">
                <li>
                    <a href="/home/search/all">
                        <span class="item-icon material-symbols-rounded"> home </span>
                        <span>Accueil</span>
                    </a>
                </li>
                <li class="deroulant">
                    <a>
                        <span style="cursor: pointer;" class="item-icon material-symbols-rounded"> medical_services </span>
                        <span>Catégories</span>
                    </a>
                    <ul class="sous">
                        <li><a href="/home/search/Generaliste">Généraliste</a></li>
                        <li><a href="/home/search/Ophtalmologue">Ophtalmologue</a></li>
                        <li><a href="/home/search/Pediatre">Pédiatre</a></li>
                        <li><a href="/home/search/Addictologue">Addictologue</a></li>
                        <li><a href="/home/search/Allergologue">Allergologue</a></li>
                        <li><a href="/home/search/Dermatologue">Dermatologue</a></li>
                        <li><a href="/home/search/Diabetologue">Diabetologue</a></li>
                        <li><a href="/home/search/Gynecologue">Gynecologue</a></li>
                        <li><a href="/home/search/Hematologue">Hematologue</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="rightElements">
                <li>
                    <div th:switch="${etat?.connected}">
                        <div th:case="${false}">
                            <a style="float: right" href="/signup/pro">
                                <span class="item-icon material-symbols-rounded"> verified </span>
                                <span>Vous êtes un professionnel?</span>
                            </a>
                        </div>
                        <div th:case="${true}">
                            <a style="float: right" href="/logout-all">
                                <span class="item-icon material-symbols-rounded"> logout </span>
                                <span>Vous déconnecter</span>
                            </a>
                            <a style="float: right" href="/profile/infPerso" th:if="${etat?.isPro}">
                                <span class="item-icon material-symbols-rounded">account_circle</span>
                                <span>[[${'Bonjour Dr. '+etat?.who?.nom}]]</span>
                            </a>
                            <a style="float: right" href="/profile/infPerso" th:if="${!etat?.isPro}">
                                <span class="item-icon material-symbols-rounded">account_circle</span>
                                <span>[[${'Bonjour '+etat?.who?.prenom}]]</span>
                            </a>
                        </div>
                </li>
                <li>
                    <div th:if="${!etat?.connected}">
                        <a style="float: right" href="/login">
                            <span class="item-icon material-symbols-rounded"> login </span>
                            <span>Vous connecter</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="sous-header">
        <ul>
            <li style="border-right: solid 1px white; background-color: black;">
                <a class="item-sous" href="/profile/infPerso">
                    <span>Informations personnelles</span>
                </a>
            </li>
            <li style="border-left: solid 1px white;">
                <a class="item-sous" href="/profile/rdv">
                    <span>Vos rendez-vous</span>
                </a>
            </li>
        </ul>
    </div>
    <form action="/profile/modify" method="post" accept-charset="utf-8" class="info-profile" th:object="${etat?.who}">
        <h2>Coordonnées</h2>
        <div class="item-profile">
            <span class="form-item-icon material-symbols-rounded">person</span>
            <input name="Nom" type="text" placeholder="Nom" th:value="*{nom}" id="nomForm">
        </div>
        <div class="item-profile">
            <span class="form-item-icon material-symbols-rounded">group</span>
            <input name="Prenom" type="text" placeholder="Prenom" th:value="*{prenom}" id="prenomForm">
        </div>
        <div class="item-profile">
            <span class="form-item-icon material-symbols-rounded">mail</span>
            <input name="Email" type="email" placeholder="Email" th:value="*{email}" id="emailForm">
        </div>
        <!--Pro ONLY-->
        <div class="pro-part" th:if="${etat?.isPro}">
            <div class="item-profile">
                <span class="form-item-icon material-symbols-rounded">phone</span>
                <input name="Tel" type="tel" placeholder="N°Telephone" th:value="*{numTelephone}" id="telForm">
            </div>
            <div class="item-profile">
                <span class="form-item-icon material-symbols-rounded">medical_services</span>
                <select name="Domaine" id="domain-select" th:value="*{domaine}">
                    <option th:text="*{domaine}"></option>
                    <option value="Generaliste">Généraliste</option>
                    <option value="Ophtalmologue">Ophtalmologue</option>
                    <option value="Pediatre">Pédiatre</option>
                    <option value="Addictologue">Addictologue</option>
                    <option value="Allergologue">Allergologue</option>
                    <option value="Dermatologue">Dermatologue</option>
                    <option value="Diabetologue">Diabetologue</option>
                    <option value="Gynecologue">Gynecologue</option>
                    <option value="Hematologue">Hematologue</option>
                </select>
            </div>
            <div class="item-profile">
                <span class="form-item-icon material-symbols-rounded">home</span>
                <input name="Rue" type="text" placeholder="Rue" th:value="*{adresse}" id="rueForm">
                <input name="Ville" type="text" placeholder="Ville" th:value="*{ville}" id="VilleForm">
            </div> 
            <div class="item-profile">
                <span class="form-item-icon material-symbols-rounded">public</span>
                <select name="Pays" id="pays-select" th:value="*{pays}">
                    <option value="France">France</option>
                    <option value="Belgique">Belgique</option>
                </select>
            </div>
            <h2>Horaires d'ouverture</h2>
            <div class="horaires" th:object="${meshoraires}">
                <div class="item-profile">
                    <span class="jour" for="LundiOpen">Lundi de</span>
                    <input type="time" name="LundiOpen" th:value="*{get(0)[0]}"><span class="to">à</span> <input type="time"
                        name="LundiClose" th:value="*{get(0)[1]}">
                </div>
                <div class="item-profile">
                    <span class="jour" for="MardiOpen">Mardi de</span>
                    <input type="time" name="MardiOpen" th:value="*{get(1)[0]}"><span class="to">à</span><input type="time"
                        name="MardiClose" th:value="*{get(1)[1]}">
                </div>
                <div class="item-profile">
                    <span class="jour" for="MercrediOpen">Mercredi de</span>
                    <input type="time" name="MercrediOpen"  th:value="*{get(2)[0]}"><span class="to">à</span> <input type="time"
                    name="MercrediClose" th:value="*{get(2)[1]}">
                </div>
                <div class="item-profile">
                    <span class="jour" for="JeudiOpen">Jeudi de</span>
                    <input type="time" name="JeudiOpen" th:value="*{get(3)[0]}"><span class="to">à</span> <input type="time"
                        name="JeudiClose" th:value="*{get(3)[1]}">
                    
                </div>
                <div class="item-profile">
                    <span class="jour" for="VendrediOpen">Vendredi de</span>
                    <input type="time" name="VendrediOpen" th:value="*{get(4)[0]}"><span class="to">à</span> <input type="time"
                        name="VendrediClose" th:value="*{get(4)[1]}">
                </div>
            </div>
        </div>
        <button type="submit">Modifier</button>
    </form>
</body>

</html>