<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,600,0,0" />
    <link rel="stylesheet" href="/css/styleProfile.css" />
    <title>DevrepDocto</title>
</head>

<body>
    <div class="headerbar">
        <ul>
            <li>
                <a href="/home">
                    <span class="item-icon material-symbols-rounded"> home </span>
                    <span>Accueil</span>
                </a>
            </li>
            <li>
                <a href="/categories">
                    <span class="item-icon material-symbols-rounded">
                        medical_services
                    </span>
                    <span>Catégories</span>
                </a>
            </li>
            <li>
                <div th:switch="${etat?.connected}">
                    <div th:case="${false}">
                        <a style="float: right" href="/signup/pro">
                            <span class="item-icon material-symbols-rounded"> verified </span>
                            <span>Vous êtes un professionnel?</span>
                        </a>
                    </div>
                    <div th:case="${true}">
                        <a style="float: right" href="/logout-all">
                            <span class="item-icon material-symbols-rounded"> logout </span>
                            <span>Vous déconnecter</span>
                        </a>
                        <a style="float: right" href="/profile/infPerso" th:if="${etat?.isPro}">
                            <span class="item-icon material-symbols-rounded">account_circle</span>
                            <span>[[${'Bonjour Dr. '+etat?.who?.nom}]]</span>
                        </a>
                        <a style="float: right" href="/profile/infPerso" th:if="${!etat?.isPro}">
                            <span class="item-icon material-symbols-rounded">account_circle</span>
                            <span>[[${'Bonjour '+etat?.who?.prenom}]]</span>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div th:if="${!etat?.connected}">
                    <a style="float: right" href="/login">
                        <span class="item-icon material-symbols-rounded"> login </span>
                        <span>Vous connecter</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="sous-header">
        <ul>
            <li style="border-right: solid 1px white; background-color: black;">
                <a class="item-sous" href="/profile/infPerso">
                    <span>Informations personnelles</span>
                </a>
            </li>
            <li style="border-left: solid 1px white;">
                <a class="item-sous" href="/profile/rdv">
                    <span>Vos rendez-vous</span>
                </a>
            </li>
        </ul>
    </div>
    <form action="/profile/modify" method="post" accept-charset="utf-8" class="info-profile" th:object="${etat?.who}">
        <span class="form-item-icon material-symbols-rounded">person</span>
        <input name="Nom" type="text" placeholder="Nom" th:value="*{nom}" id="nomForm"><br>
        <span class="form-item-icon material-symbols-rounded">group</span>
        <input name="Prenom" type="text" placeholder="Prenom" th:value="*{prenom}" id="prenomForm"><br>
        <span class="form-item-icon material-symbols-rounded">mail</span>
        <input name="Email" type="email" placeholder="Email" th:value="*{email}" id="emailForm"><br>
        <!--Pro ONLY-->
        <span class="form-item-icon material-symbols-rounded">phone</span>
        <input name="Tel" type="tel" placeholder="N°Telephone" th:value="*{numTelephone}" id="telForm"><br>
        <div class="domaineSelect" th:if="${etat?.isPro}">
            <span class="form-item-icon material-symbols-rounded">medical_services</span>
            <select name="domaine" id="domain-select" th:value="*{domaine}">
                <option value="Generaliste">Généraliste</option>
                <option value="Ophtalmologue">Ophtalmologue</option>
                <option value="Pediatre">Pédiatre</option>
                <option value="Addictologue">Addictologue</option>
                <option value="Allergologue">Allergologue</option>
                <option value="Dermatologue">Dermatologue</option>
                <option value="Diabetologue">Diabetologue</option>
                <option value="Gynecologue">Gynecologue</option>
                <option value="Hematologue">Hematologue</option>
            </select>
            <div class="Adresse">
                <span class="form-item-icon material-symbols-rounded">home</span>
                <input name="Rue" type="text" placeholder="Rue" th:value="*{adresse}" id="rueForm">
                <input name="Ville" type="text" placeholder="Ville" th:value="*{ville}" id="VilleForm">
            </div>
            <span class="form-item-icon material-symbols-rounded">public</span>
            <select name="Pays" id="pays-select" th:value="*{pays}">
                <option value="France">France</option>
                <option value="Belgique">Belgique</option>
            </select>
            <p>-----------------------------------------------------------------------</p>
            <div class="horaires">
                <label class="labelDays" for="lundi">Lundi</label>
                <input type="time" name="LundiOpen"> <label class="labelDays">à</label> <input type="time"
                    name="LundiClose"><br>
                <label class="labelDays" for="MardiOpen">Mardi</label>
                <input type="time" name="MardiOpen"> <label class="labelDays">à</label> <input type="time"
                    name="MardiClose"><br>
                <label class="labelDays" for="MercrediOpen">Mercredi</label>
                <input type="time" name="MercrediOpen"> <label class="labelDays">à</label> <input type="time"
                    name="MercrediClose"><br>
                <label class="labelDays" for="JeudiOpen">Jeudi</label>
                <input type="time" name="JeudiOpen"> <label class="labelDays">à</label> <input type="time"
                    name="JeudiClose"><br>
                <label class="labelDays" for="lundi">Vendredi</label>
                <input type="time" name="VendrediOpen"> <label class="labelDays">à</label> <input type="time"
                    name="VendrediClose"><br>
            </div>

        </div>
        </div>
        <!--<span>Prenom : [[${etat?.who?.prenom}]]</span>
        <span>Nom : [[${etat?.who?.nom}]]</span>
        <span>Email : [[${etat?.who?.email}]]</span>
        <span th:if="${etat?.isPro}">Domaine : [[${etat?.who?.domaine}]]</span>
        <span th:if="${etat?.isPro}">Telephone : [[${etat?.who?.numTelephone}]]</span>
        <span th:if="${etat?.isPro}">Adresse : [[${etat?.who?.adresse}]]</span>-->
        <button type="submit">Modifier</button>
    </form>
</body>

</html>