<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,600,0,0" />
    <link rel="stylesheet" href="/css/styleProfile.css" />
    <link rel="stylesheet" href="/css/stylePage.css" />
    <title>DevrepDocto</title>
</head>

<body>
    <nav>
        <div class="listes">
            <ul class="leftElements">
                <li>
                    <a href="/home">
                        <span class="item-icon material-symbols-rounded"> home </span>
                        <span>Accueil</span>
                    </a>
                </li>
                <li class="deroulant">
                    <a>
                        <span class="item-icon material-symbols-rounded"> medical_services </span>
                        <span>Catégories</span>
                    </a>
                    <ul class="sous">
                        <li><a href="/home/search/Generaliste">Généraliste</a></li>
                        <li><a href="/home/search/Ophtalmologue">Ophtalmologue</a></li>
                        <li><a href="/home/search/Pediatre">Pédiatre</a></li>
                        <li><a href="/home/search/Addictologue">Addictologue</a></li>
                        <li><a href="/home/search/Allergologue">Allergologue</a></li>
                        <li><a href="/home/search/Dermatologue">Dermatologue</a></li>
                        <li><a href="/home/search/Diabetologue">Diabetologue</a></li>
                        <li><a href="/home/search/Gynecologue">Gynecologue</a></li>
                        <li><a href="/home/search/Hematologue">Hematologue</a></li>
                        <li><a href="/home/search/Infimier_Domicile">Infimier A Domicile</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="rightElements">
                <li>
                    <div th:switch="${etat?.connected}">
                        <div th:case="${false}">
                            <a style="float: right" href="/signup/pro">
                                <span class="item-icon material-symbols-rounded"> verified </span>
                                <span>Vous êtes un professionnel?</span>
                            </a>
                        </div>
                        <div th:case="${true}">
                            <a style="float: right" href="/logout-all">
                                <span class="item-icon material-symbols-rounded"> logout </span>
                                <span>Vous déconnecter</span>
                            </a>
                            <a style="float: right" href="/profile/infPerso" th:if="${etat?.isPro}">
                                <span class="item-icon material-symbols-rounded">account_circle</span>
                                <span>[[${'Bonjour Dr. '+etat?.who?.nom}]]</span>
                            </a>
                            <a style="float: right" href="/profile/infPerso" th:if="${!etat?.isPro}">
                                <span class="item-icon material-symbols-rounded">account_circle</span>
                                <span>[[${'Bonjour '+etat?.who?.prenom}]]</span>
                            </a>
                        </div>
                </li>
                <li>
                    <div th:if="${!etat?.connected}">
                        <a style="float: right" href="/login">
                            <span class="item-icon material-symbols-rounded"> login </span>
                            <span>Vous connecter</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="sous-header">
        <ul>
            <li style="border-right: solid 1px white;">
                <a class="item-sous" href="/profile/infPerso">
                    <span>Informations personnelles</span>
                </a>
            </li>
            <li style="border-left: solid 1px white; background-color: black;">
                <a class="item-sous" href="/profile/rdv">
                    <span>Vos rendez-vous</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="container-rdv">
        <h2>Mes rendez-vous</h2>
        <div class="myrdv" th:each="r: ${rdv}">
            <span style="font-weight: bold;" th:if="${r.getValue0().getAuthority().equals('PRO')}" th:text="${'Dr. ' + r.getValue0().getNom() + ' ' + r.getValue0().getPrenom()}"></span>
            <span style="font-weight: bold;" th:if="${r.getValue0().getAuthority().equals('PATIENT')}" th:text="${r.getValue0().getNom() + ' ' + r.getValue0().getPrenom()}"></span>
            <span th:text="${#strings.arraySplit(r.getValue1(), ':')[0] + ':' + #strings.arraySplit(r.getValue1(), ':')[1]}"></span>
            <form th:action="${'/profile/rdv/delete/'+r.getValue2()}" method="post">
                <button type="submit" class="del" name="deleteRdv" value="yes">Annuler</button>
            </form>
        </div>
    </div>
</body>
</html>