<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,600,0,0" />
    <link rel="stylesheet" href="/css/stylePubProfile.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
    <link rel="manifest" href="/icon/site.webmanifest">
    <link rel="mask-icon" href="/icon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>DevrepDocto</title>
</head>

<body>
    <!--<script src="/js/header.js"></script>-->
    <nav>
        <div class="listes">
            <ul class="leftElements">
                <li>
                    <a href="/home">
                        <span class="item-icon material-symbols-rounded"> home </span>
                        <span>Accueil</span>
                    </a>
                </li>
                <li class="deroulant">
                    <a>
                        <span class="item-icon material-symbols-rounded"> medical_services </span>
                        <span>Catégories</span>
                    </a>
                    <ul class="sous">
                        <li><a href="/home/search/Generaliste">Généraliste</a></li>
                        <li><a href="/home/search/Ophtalmologue">Ophtalmologue</a></li>
                        <li><a href="/home/search/Pediatre">Pédiatre</a></li>
                        <li><a href="/home/search/Addictologue">Addictologue</a></li>
                        <li><a href="/home/search/Allergologue">Allergologue</a></li>
                        <li><a href="/home/search/Dermatologue">Dermatologue</a></li>
                        <li><a href="/home/search/Diabetologue">Diabetologue</a></li>
                        <li><a href="/home/search/Gynecologue">Gynecologue</a></li>
                        <li><a href="/home/search/Hematologue">Hematologue</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="rightElements">
                <li>
                    <div th:switch="${etat?.connected}">
                        <div th:case="${false}">
                            <a style="float: right" href="/signup/pro">
                                <span class="item-icon material-symbols-rounded"> verified </span>
                                <span>Vous êtes un professionnel?</span>
                            </a>
                        </div>
                        <div th:case="${true}">
                            <a style="float: right" href="/logout-all">
                                <span class="item-icon material-symbols-rounded"> logout </span>
                                <span>Vous déconnecter</span>
                            </a>
                            <a style="float: right" href="/profile/infPerso" th:if="${etat?.isPro}">
                                <span class="item-icon material-symbols-rounded">account_circle</span>
                                <span>[[${'Bonjour Dr. '+etat?.who?.nom}]]</span>
                            </a>
                            <a style="float: right" href="/profile/infPerso" th:if="${!etat?.isPro}">
                                <span class="item-icon material-symbols-rounded">account_circle</span>
                                <span>[[${'Bonjour '+etat?.who?.prenom}]]</span>
                            </a>
                        </div>
                </li>
                <li>
                    <div th:if="${!etat?.connected}">
                        <a style="float: right" href="/login">
                            <span class="item-icon material-symbols-rounded"> login </span>
                            <span>Vous connecter</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="main-cont" th:object="${theOther}">
        <h2>Votre professionnel</h2>
        <div class="info-profile">
            <div class="field">
                <span class="item-icon material-symbols-rounded">person</span>
                <span th:text="'Dr '+*{nom}+' '+*{prenom}"></span>
            </div>
            <div class="field">
                <span class="item-icon material-symbols-rounded">medical_services</span>
                <span th:text="*{domaine}"></span>
            </div>
            <div class="field">
                <span class="item-icon material-symbols-rounded">location_home</span>
                <span th:text="*{adresse}"></span>
            </div>
            <div class="field">
                <span class="item-icon material-symbols-rounded">location_on</span>
                <span th:text="*{ville}"></span>
            </div>
            <div class="field">
                <span class="item-icon material-symbols-rounded">phone</span>
                <span th:text="*{numTelephone}"></span>
            </div>
        </div>
        <h2>Disponibilités</h2>
        <div class="Disponibilities">
            <!--List<Map<String,Boolean>-->
            <div class="perDay" th:each="d: ${disponibilities}">
                <!--d is of type Map<String,Boolean>-->
                <h3 class="theDay" th:text="${#strings.arraySplit(d?.keySet().toArray()[0], ' ')[0] + ' ' +
                                              #strings.arraySplit(d?.keySet().toArray()[0], ' ')[1]}"></h3>
                <!--t is of type String-->
                <div class="hours">
                    <div class="perHour"  th:each="t, status: ${d?.keySet()}">
                        <span th:text="${#strings.arraySplit(t,' ')[2]}"></span>
                        <div th:switch="${!d.get(t)}">
                            <!--Tester si rendez pris ou non-->
                            <form th:case="${true}" action="/appointment/take" method="post">
                                <input type="number" name="pro" th:value="*{getId()}" hidden> <!-- Attention à ne pas le sortir du div qui a son th:object-->
                                <input type="text" name="dateRdv" th:value="${t}" hidden>
                                <button type="submit">Prendre</button>
                            </form>
                            <span th:case="${false}">Pris!</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>